<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Translayric</title>
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="js/angular.min.js"></script>
    <script>
        if (window.module) module = window.module;
    </script>

</head>

<body>

    <div ng-app="Translyric">
        <h1>Translayric</h1>
        <div ng-controller="SearchController">
            <input type="text" ng-model="SearchText">
            <button ng-click="SearchSongs()"> 搜索 </button>
            <div ng-repeat="x in SearchResult">
                名称: {{ x.name }}  歌手: {{ x.artists[0].name }}  专辑: {{ x.album.name }}
            </div>
        </div>
    </div>

    <script>
        var app = angular.module('Translyric', []);
        app.controller('SearchController', function ($scope, $http) {
            $scope.SearchResult = [];
            $scope.idSong = null;
            $scope.SearchSongs = function () {
                $http({
                    method: 'GET',
                    url: 'http://127.0.0.1:3000/search?keywords=' + $scope.SearchText
                }).then(function successCallback(response) {
                    $scope.SearchResult = response.data.result.songs;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
        });
    </script>
</body>

</html>
